
img {
  width: 200px;
  height: 200px;
}

.piece-card {
    /* border: solid;
    border-color: #66F2F2; */
    padding: 50px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    transition: 0.3s;
    margin: 30px;
    float: left;
    /* text-align: center; */
    width: 150px;
    height: 550px;
    text-align: center;
  }

  .piece-card-img {
  float: right;
}

  .piece-text {
    padding: 0px;
    margin: 0px;
    float: left;
    
  }

  .artist-card {
    /* border: solid;
    border-color: #66F2F2; */
    padding: 50px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    transition: 0.3s;
    margin: 30px;
    float: left;
    text-align: center;
    width: 150px;
    height: 450px;
  }

  .director-card {
    border: solid;
    border-color: black;
    padding: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 30px;
    padding-right: 80px;
    float: center;
    text-align: center;
    width: 150px;
    height: 460px;
    text-align: center;
  }

  

  body {
  color: #40514E;
  background-color: #FADE12;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

nav {
  background-color: #FA4F37;
}

.welcome-header {
  background-color: #FA4F37;
  
}

.welcome-img {
  height: 20px;
  width: 1550px;
}

.welcome-p {
  margin-bottom: 0px;
}

.gallery-container {
     border: solid;
    border-color: black;
}

.gallery-div {
  background-color: #FACC41;
  height: 400px;
  width: 1498px;;
}

